include "configs/input.kdl"
include "configs/outputs.kdl"
include "configs/environments.kdl"
include "configs/autostart.kdl"
include "configs/layout.kdl"
include "configs/decorations.kdl"
include "configs/animations.kdl"
include "configs/rules.kdl"
include "configs/binds.kdl"


// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
