layout {
    gaps 10

    struts {
        top 10
        bottom 10
        left 10
        right 10
    }

    // "never", "always", "on-overflow"
    center-focused-column "always"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    default-column-width { proportion 0.5; }
}
