@define-color textcolor1 #000000;
@define-color textcolor2 #AAAAAA;
@define-color textcolor3 #FFFFFF;

* {
    font-family: "Sarasa Mono K Nerd Font, Fira Code Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0,0,0,0.50);
    border-top-right-radius:12px;
    border-bottom-right-radius:12px;
}

window#waybar.hidden {
    opacity: 0;
}

#workspaces {
    padding: 30px 0px 0px 0px;
}

#window {
    color: @textcolor3;
    font-weight:bold;
    padding: 40px 0px;
    /* padding: 50px 0px 15px 0px; */
}

#mpris {
    color: @textcolor3;
    /* font-weight:bold; */
    padding: 0px 0px 5px 0px;
}

#workspaces button {
    padding: 1px 0px;
    margin: 0px 0px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    color: @textcolor2;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0);
    color: @textcolor3;
}

#workspaces button.active {
    color: @textcolor3;
}

#workspaces button.urgent {
    background-color: #1b1e28;
    color: #a994b8;
}

#mode {
    background-color: #cf8164;
    color: #23252e;
    /*font-weight:bold;*/
    margin: 0 4px;
}

#clock,
#network,
#memory,
#cpu,
#disk,
#temperature,
#backlight,
#battery {
    padding: 0 0px;
    color: @textcolor3;
    /*font-weight:bold;*/
}

#network.disconnected {
    background-color: #f5f5f5;
    color: #121214
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #f5f5f5;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#pulseaudio {
    color: @textcolor3;
}

#pulseaudio.muted {
    color: #c5c4d4;
    font-weight: normal;
}

#tray {
    color: #f5f5f5;
    padding-bottom:10px;
}

#idle_inhibitor {
    color: #77adb1;
}

#idle_inhibitor.activated {
    color: #77adb1;
}
