[mgr]
linemode = "size"
scrolloff = 3
show_hidden = true
show_symlink = true

[preview]
tab_size = 2
max_width = 600
max_height = 900
image_delay = 30
image_filter = "triangle"
image_quality = 75
sixel_fraction = 15
ueberzug_scale = 1
ueberzug_offset = [0, 0, 0, 0]

[plugin]
prepend_fetchers = [
  { id = "git", name = "*", run = "git" },
  { id = "git", name = "*/", run = "git" },
]

[opener]
set-wallpaper = [
  { run = 'hyprctl hyprpaper reload ,"$1"', for = "unix", desc = "Set as wallpaper" },
]
play = [
  { run = 'mpv "$@"', orphan = true, for = "unix", desc = "mpv" },
  { run = '"C:\Program Files\mpv.exe" %*', orphan = true, for = "windows", desc = "mpv" },
]
pdff = [
  { run = 'zathura "$@"', desc = "zathura", block = true, for = "unix" },
]
edit = [
  { run = '$EDITOR "$@"', block = true, for = "unix", desc = "$EDITOR" },
  { run = "%EDITOR% %*", block = true, for = "windows", desc = "%EDITOR%" },
]
open = [
  { run = 'xdg-open "$@"', desc = "Open", for = "unix" },
]

[[opener.image]]
run = '''
# fd -d 1 -e jpg -e png -e gif . -X imv -n "$@"
fd -d 1 -t f . |
    xargs -r -I {} sh -c 'file --mime-type -b "{}" | grep -q "^image/" && echo "{}"' |
    imv -n "$@"
'''
for = "unix"
desc = "imv"

[open]
prepend_rules = [
  { mime = "text/*", use = "edit" },
  { mime = "video/*", use = "play" },
  { mime = "image/*", use = "image" },
  { mime = "application/pdf", use = [ "pdff", "reveal" ] },
]

[tasks]
micro_workers = 10
macro_workers = 10
bizarre_retry = 3
image_alloc = 536870912  # 512MB
image_bound = [0, 0]
suppress_preload = false
